html,body {
    margin:0;
    padding:0;
    font-family:"Calibri", sans-serif;
}

#header {
    width: 100%;
    height: 100px;
    border: none;
}

.headeritem {
    margin-left: 10%;
}

#main-container {
    display: flex;
    align-items: last baseline;
    background-color: black;
    color: white;
    font-size: x-large;
}

#link-container {
    display: flex;
    background-color: #69A3B9;
    color: white;
    font-size: large;
    align-items: center;
    height: 60px;
}

#navbar {
    height: 60%;
}

#link-container a {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0px 0.5% 0px 0.5%;
    text-decoration: none;
    color: white; 
    /* background-color: lightslategray; */
    transition: background-color 0.3s ease;
    height: 100%;
}

#link-container a:hover {
    background-color: #396779; 
}

.main {
    padding-left: 10%;
    padding-right: 10%;
}

#goals {
    display: flex;
    align-items:first baseline;
    justify-content: space-evenly;
}
.goal {
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    height: auto;
}

.divhalf {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.divhalftext {
    height: 100%;
    width: 70%;
}

p > i {
    font-size: medium;
}

.divhalfimage {
    height: min-content;
    display: flex;
    flex:1;

    flex-direction: column;
    align-items: center;
    align-content: center;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-bottom: 1em;

    border: solid 1px grey;
    background-color: lightgrey;
}

p{
    font-size: large;
}

@media (max-width: 768px) {

    .divhalf{
        display: block;
    }

    .main {
        padding-left: 5%;
        padding-right: 5%;
    }

    #main-container {
        text-align: center;
    }

    .headeritem {
        margin-left: 0%;
    }

    #link-container {
        justify-content: center;
    }
    
    .divhalftext{
        height: auto;
    }

    .divhalfimage{
        height: auto;
    }

    #goals {
        display: block;
    }

    .goal {
        width: 100%;
    }

    #link-container a {
        padding: 0px 2% 0px 2%;
    }

}